.footer {
  background-color: #112942;
  display: flex;
  text-align: center;
  position: relative;
  /* position: fixed; */
  display: flex;
  margin-top: auto;
  flex-direction: column;
  justify-content: flex-start;
}

/* .footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%; */
/* Height of the footer*/
/* height: 40px; */
/* background: grey; */
/* } */

/* .footer {
  position: relative;
  height: 200px;
  margin-top: -200px;
} */

.footer .share {
  padding: 1rem 0;
}

.footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  border: var(--border);
  margin: 0.3rem;
  border-radius: 50%;
}

.footer .share a:hover {
  background-color: var(--main-color);
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

.footer .links a {
  padding: 0.7rem 2rem;
  color: #fff;
  border: var(--border);
  font-size: 2rem;
}

.footer .links a:hover {
  background: var(--main-color);
}

.footer .credit {
  font-size: 1.2rem;
  color: #fff;
  font-weight: lighter;
  padding: 1rem 1.5rem;
}

.footer .credit span {
  color: var(--main-color);
}

.footer .hours {
  font-size: 1.3em;
  margin-top: 4vh;
}

.footer .hours p {
  color: #fff;
}
