@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital@0;1&display=swap");
* {
  list-style: none;
  padding: 0;
  margin: 0;
}

.titleContainer {
  width: 100vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;

  /* font-family: "Fredoka One", cursive; */
}

.images {
  padding: 0.2rem 0rem 1rem;
  display: flex;
}

#img1 {
  width: 1.5rem;
  height: auto;
  margin-inline: 5px;
}

#img2 {
  width: 1.5rem;
  height: auto;
  margin-inline: 5px;
}
#img3 {
  width: 1.5rem;
  height: auto;
  margin-inline: 5px;
}
#img4 {
  width: 1.5rem;
  height: auto;
  margin-inline: 5px;
}

.mainTitle h1 {
  font-size: 3rem;
  color: #212121;
  font-family: "Fredoka", cursive;
  margin: 2rem 0 1rem 0;
}

.secondTitle h2 {
  font-size: 1.2rem;
  /* color: #212121; */
  font-family: "PT Mono", monospace;
  font-family: "Courier Prime", monospace;
}

.pointsTitle h3 {
  font-size: 1rem;
  font-family: "Courier Prime", monospace;
  margin: 2rem;
}
